@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img {
    width: auto;
    height: auto;
  }
}

html,
body,
:root {
  height: 100%;
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}
